@import "dracula.css";

* {
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  background-color: transparent;
}

.modules-right {
  background: @background;
  padding: 0rem 0.7rem 0rem 0.7rem;
  margin: 5px 0px 5px 0px;
}

.modules-center {
  background: @background;
  margin: 5px 0px 5px 0px;
}

.modules-left {
  background: @background;
  margin: 5px 0px 5px 0px;
}

tooltip {
  background: @background;
  color: @foreground;
}

#workspaces {
  margin: 1px 5px 1px 5px;
}

#workspaces button {
  background: @background;
  color: @foreground;
  font-weight: bolder;
  margin: 2px 2px;
  min-width: 20px;
  border-radius: 20px;
}

#workspaces button:hover {
  background: @selection;
  color: @foreground;
  border-radius: 20px;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  background: @selection;
  color: @foreground;
  border-radius: 20px;
}

#clock {
  color: @foreground;
  font-weight: bolder;
  padding: 0rem 1rem 0rem 1rem;
}

#idle_inhibitor {
  color: @comment;
  padding: 0 0.1em 0 0.1em;
}

#idle_inhibitor.activated {
  color: @pink;
}

#memory {
  color: @cyan;
  padding: 0 0.3em 0 0.5em;
  border-radius: 10px 0 0 10px;
}

#pulseaudio {
  color: @yellow;
  padding: 0 0.4em 0 0.4em;
  margin: 0;
}

#cpu {
  color: @cyan;
  padding: 0 0.1em 0 0.1em;
  margin: 0;
}

#network {
  color: @orange;
  padding: 0 0.4em 0 0.5em;
  margin: 0;
}

#language {
  color: @purple;
  padding: 0 0.1em;
  margin: 0;
}

#disk {
  color: @cyan;
  padding: 0 0.1em 0 0.1em;
  margin: 0;
}

#window {
  color: @selection;
  margin-left: 0rem;
  margin-right: 1rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.818);
  transition: all 0.1s ease-in-out;
  border-radius: 0px;
  font-size: 15px;
}