@import "catppuccin_macchiato.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Iosevka Nerd Font Mono", monospace;
  font-size: 16px;
  min-height: 25px;
}

#waybar {
  background: transparent;
  color: @text;
}

tooltip {
  border-radius: 25px;
  background: alpha(@surface0, 0.9);
  color: @text;
}

#workspaces,
#clock,
#idle_inhibitor,
#cpu,
#memory,
#disk,
#pulseaudio,
#network,
#language {
  background-color: @base;
  color: @text;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin-top: 5px;
  margin-bottom: 2px;
}

#workspaces {
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#workspaces button {
  color: @mauve;
  border-radius: 25px;
  margin: 0px 2px;
  min-width: 25px;
  min-height: 25px;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  background-color: @mauve;
  color: @base;
}

#workspaces button:hover {
  background-color: alpha(@mauve, 0.7);
  color: @base;
}

#clock {
  color: @mauve;
}

#idle_inhibitor,
#cpu,
#memory,
#disk,
#pulseaudio,
#network,
#language {
  margin-right: 5px;
}

#idle_inhibitor {
  color: @text;
  font-size: 25px;
  min-width: 25px;
  padding: 0px 7px 0px 7px;
}

#idle_inhibitor.activated {
  color: @red;
}

#cpu {
  color: @teal;
  border-radius: 25px 0px 0px 25px;
  margin-right: 0px;
}

#memory {
  color: @teal;
  border-radius: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#disk {
  color: @teal;
  border-radius: 0px 25px 25px 0px;
}

#pulseaudio {
  color: @maroon;
}

#network {
  color: @peach;
}

#language {
  color: @mauve;
  margin-right: 10px;
}